@{
    ViewBag.Title = "Kontakt do nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    C# Masters - Ania, Milosz, Piotr<br />
    VS street 2015, 00000 Ticity <br />
    <abbr title="Phone">Phone:</abbr>
    20152017
</address>

<address>
    <strong>Pomoc:</strong>   <a href="mailto:pomoc@libraryapp.com">pomoc@libraryapp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@libraryapp.com">marketing@libraryapp.com</a><br/>
    <strong>Feedback:</strong> <a href="mailto:feedback@libraryapp.com">feedback@libraryapp.com</a>
</address>