@{
    ViewBag.Title = "Home Page";
}

<h2><b><font size= 5><p align = "center">Strona główna</p></font></b></h2>
<br/>
<br/>
<p>LibraryApp to najnowsza aplikacja biblioteczna otwieracjąca mnustwo możliwości przed użytkownikiem. Przy twożeniu aplikacji uwzględniliśmy uwagi i pomysły 
    przyszłych użytkowników odnośnie funkcji, które ułatwią proces wypożyczania książek oraz terminowe oddawanie tych pozycji. Swoim użytkownikom gwarantujemy
     jedną z największych ofert książek akademickich, czasopism naukowych oraz sporą ilość pozycji w języku angielskim.<br/>
    <br/>
    Oto kilka udogodnień, które oferuje LibraryApp:<br/>
    <br/>
    <b>
        - wysyłanie potwierdzeń e-mail w momencie wypożyczenia książki<br />
        - przypomnienie e-mail o terminowym zdaniu pozycji<br />
        - możliwość oceny przeczytanej książki<br />
    </b><br/>
    A w przyszłości wiele innych przydatnych funkcji. Chętnie otrzymamy dalsze uwagi oraz pomysły na rozwój LibraryApp!</p><br/>
<br/>

<font size="3", color="red"><p align="center">KLIKNIJ TU ABY PRZEJŚĆ DO BIBLIOTEKI</p></font>